
.navbar.navbar-shrink{
    padding: 2px 0;
    background-color: #222;
}

/* General modal functionality */

.modal__generic{
    padding: 20px;
    height:inherit;
    z-index: 1201;
    width:400px;
    position:fixed;
    left:50%;
    transform:translate(-50%, -50%);
    background:#fff;
    transition: all .6s ease;
    opacity:0;
    top:50%;
    border-radius: 5px;
    align-items:center;
    justify-content:center;
    pointer-events: none;

    overflow-y: auto;
    max-width:90%;
    max-height:75%;
}

.modal__bg{
    background:rgba(0,0,0,0.4);
    position:fixed;
    z-index:1200;
    top:0;
    left:0;
    height:100%;
    width:100%;
    transition: all .6s ease;
    cursor:pointer;
    pointer-events: none;
    opacity:0;
}


.modal__helper{
    position: relative;
    text-align: center;
    vertical-align:text-top;  /* no effect? */
    max-height:100%;          /* no effect? */

}

.modal__generic .close{
    position: absolute;
    top: 5px;
    right: 10px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

/* Specific Modals */

#chkNews:checked ~ .modal__news{
    opacity: 1;
    pointer-events: all;
}
#chkNews:checked ~ .modal__bg__news{
    pointer-events: all;
    opacity: 1;
}
#chkExcel:checked ~ .modal__excel{
    opacity: 1;
    pointer-events: all;
}
#chkExcel:checked ~ .modal__bg__excel{
    pointer-events: all;
    opacity: 1;
}
